{% extends 'home.html' %}
{% block content %}
<section>
    <div id="contenedor-form">
        <h1>Clasificador de Imágenes</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="imagen">Sube una imagen (JPEG o PNG):</label><br>
            <input type="file" id="imagen" name="imagen" accept="image/jpeg, image/png"><br><br>
            <button type="submit">Enviar</button>
        </form>
    </div>
    <div id="contenedor-resultado">
        {% if resultado %}
            <h3>Resultado de la predicción:</h3>
            <p>{{ resultado }}</p>
            <p>Tiempo total de ejecución: {{ tiempo_total }} segundos.</p>
        {% endif %}
    </div>
</section>
{% endblock %}
